<footer class="comic-footer mt-5">
  <div class="row px-4 py-5 text-white">
    <!-- Cột 1 -->
    <div class="col-lg-4 mb-4">
      <h4><i class="fa-solid fa-store"></i> Truyện Tranh Số</h4>
      <p>
        <i class="fa-solid fa-location-dot"></i> 62 Nguyễn Thị Minh Khai, Q1, TP. HCM <br />
        <i class="fa-solid fa-phone"></i> (028) 38.256.713 <br />
        <i class="fa-solid fa-envelope"></i> 
<a href="mailto:info&#64;truyentranhso.vn" class="footer-link">info&#64;truyentranhso.vn</a>

      </p>
    </div>

    <!-- Cột 2 -->
    <div class="col-lg-4 mb-4">
      <h4><i class="fa-solid fa-book-open"></i> Khám phá</h4>
      <ul class="list-unstyled">
        <li><a href="#" class="footer-link">Giới thiệu</a></li>
        <li><a href="#" class="footer-link">Truyện mới cập nhật</a></li>
        <li><a href="#" class="footer-link">Tài khoản của bạn</a></li>
        <li><a href="#" class="footer-link">Nạp xu</a></li>
      </ul>
    </div>

    <!-- Cột 3 -->
    <div class="col-lg-4 mb-4">
      <h4><i class="fa-solid fa-circle-question"></i> Hỗ trợ</h4>
      <ul class="list-unstyled">
        <li><a href="#" class="footer-link">Cách mua truyện</a></li>
        <li><a href="#" class="footer-link">Hướng dẫn đọc</a></li>
        <li><a href="#" class="footer-link">Liên hệ hỗ trợ</a></li>
        <li><a href="#" class="footer-link">Chính sách & điều khoản</a></li>
      </ul>
    </div>
  </div>

  <div class="text-center text-white py-3 copyright">
    © 2025 TruyenTranhSo.vn – All rights reserved.
  </div>
</footer>
