<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-12">
      <form>
        <div class="bg-white my-5 mx-auto" style="border-radius: 1rem; max-width: 500px;">
          <div class="p-5 w-100 d-flex flex-column">
            <h2 class="fw-bold mb-2 text-center">Đăng nhập</h2>
            <p class="text-primary-50 mb-3">
              Vui lòng nhập thông tin đăng nhập và mật khẩu của bạn!
            </p>

            <div class="mb-3">
              <label class="form-label">Địa chỉ Email</label>
              <input
                class="form-control"
                placeholder="Nhập Email hoặc Số điện thoại hoặc Tên"
                type="text"
                autocomplete="username"
              />
            </div>

            <div class="mb-3" style="position: relative">
              <label class="form-label">Password</label>
              <input
                class="form-control"
                style="padding-right: 30px;"
                type="password"
                placeholder="Mật khẩu"
                autocomplete="new-password"
              />
              <span
                style="position: absolute; right: 15px; top: 70%; transform: translateY(-50%); cursor: pointer;">
                <i class="fa fa-eye"></i>
              </span>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" />
              <label class="mb-4 form-check-label">Ghi nhớ mật khẩu</label>
            </div>

            <button type="submit" class="btn btn-primary text-white">
              Đăng nhập
            </button>

            <div class="p-5 mx-auto text-muted">
              <p class="ps-5">
                <a href="#">Quên Tên người dùng / Mật khẩu?</a>
              </p>

              <p class="ps-5">
                Bạn chưa có tài khoản?
                <a href="#">Đăng ký</a>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
